#bullets {
  display: flex;
  margin-top: 20px;

  .bullet {
    font-size: 18px;
    margin: 0 5px;
    color: #ffffff;

    .nonActive {
      color: #7e7e7e;

      &:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
